<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="icon" href="#"/> -->

    <title>Morning Coffee</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <!-- nav and banner -->
    <header>

      <!-- nav section -->
      <nav class="navbar navbar-light bg-light">
      
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Logo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mapa">Visitanos</a>
          </li>
        </ul>
      </nav>

      <!-- banner  -->
      <div class="d-flex justify-content-end align-items-start flex-column cover p-5">
        <h1>Morning Coffee</h1>
        <p>El mejor producto de la ciudad.</p>
        <button class="btn-primary">Conoce sobre notros</button>
      </div>

    </header>
    

    <!-- description -->
    <section>
      <div class="container mt-5 mb-5">
        <img src="https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fandrew-neel-cckf4TsHAuw-unsplash.jpg?1629587050952" alt="Img desc" class="float-right ml-5" >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra, nunc id porttitor semper, turpis libero cursus velit, quis tristique orci enim eget tellus. Suspendisse ac justo viverra dui dapibus convallis sed in ligula. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut suscipit mi ac magna egestas vulputate. Nunc vel metus cursus, egestas enim rutrum, finibus diam. Maecenas luctus fermentum tincidunt. Maecenas felis tellus, blandit a purus quis, sollicitudin lacinia libero. Nam lobortis eget metus eget vestibulum. Sed tristique diam ac arcu auctor efficitur. Morbi sollicitudin fringilla vestibulum.
        </p>
        <p>
          Donec et mi tortor. Nam ornare scelerisque tortor in aliquet. Suspendisse ac leo sed ex interdum hendrerit. Nullam in turpis quis arcu tempor cursus vel a odio. Nulla egestas ultrices turpis, et bibendum felis molestie vel. Morbi ex purus, placerat non purus tincidunt, placerat dapibus felis. Curabitur at orci et orci congue mattis sed vel massa.
        </p>
        <p>
          Nam sit amet varius erat. Fusce maximus mollis ipsum, id mollis est venenatis ac. Proin tincidunt mauris et ligula porttitor, id sagittis quam pharetra. Morbi eu odio ultricies erat rutrum ultricies. Nulla sit amet nibh vel lectus maximus accumsan feugiat id mauris. Sed vitae magna massa. Aliquam tristique augue odio, sollicitudin consectetur sapien pretium ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
    </section>




    <!-- carousel -->

  <section>
      <div class="container mt-5 mb-5">
        <div class="slider">
          <div class="slider-container">
            <div title="img-title" class="image-container" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Femre-NZMeJsrMC8U-unsplash.jpg?1629587050952)" ></div>           
            <div title="img-title" class="image-container" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fgc-libraries-creative-tech-lab-wiOEVPVRfW4-unsplash.jpg?1629587050952)" ></div>
            <div title="img-title" class="image-container" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fandrew-neel-cckf4TsHAuw-unsplash.jpg?1629587050952)" ></div>
            <div title="img-title" class="image-container" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fjason-wong-kSlL887znkE-unsplash.jpg?1629587050952)" ></div>
          </div>
        </div>
      </div>
  </section>


  <!-- Equipo -->
  <section>
    <div class="container mt-5 mb-5">
      <h2>Conoce al equipo</h2>
      <p>
        Nuestro compromiso es brindarte el mejor servicio y la mejor calidad.
      </p>
      <!-- grid -->
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">

          <div class="card p-4">
            <div class="team-member rounded-circle" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Femre-NZMeJsrMC8U-unsplash.jpg?1629587050952)"></div>
            <h4>Member #1</h4>
            <span class="badge badge-primary">CEO</span>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
          <div class="card p-4">
            <div class="team-member rounded-circle" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fgc-libraries-creative-tech-lab-wiOEVPVRfW4-unsplash.jpg?1629587050952)"></div>
            <h4>Member #2</h4>
            <span class="badge badge-primary">Bartender</span>
          </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
          <div class="card p-4">
            <div class="team-member rounded-circle" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fandrew-neel-cckf4TsHAuw-unsplash.jpg?1629587050952)"></div>
            <h4>Member #3</h4>
            <span class="badge badge-primary">COO</span>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
          <div class="card p-4">
            <div class="team-member rounded-circle" style="background-image: url(https://cdn.glitch.com/cb970953-eba4-4aeb-8a02-1626980549a3%2Fthumbnails%2Fjason-wong-kSlL887znkE-unsplash.jpg?1629587050952)"></div>
            <h4>Member #4</h4>
            <span class="badge badge-primary">Bartender</span>
          </div>
        </div>
        
        </div>
      </div>



    </div>
  </section>


<!-- ubicacion -->
      <section>
        <div class="container mt-5 mb-5" id="mapa">
          <h4>
            Aqui nos vemos
          </h4>
          <p>
            Adress...
          </p>
          <div class="responsive-iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52131.18388829451!2d-79.5202899714936!3d9.006617406878444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca997158a703f%3A0x17f56661b151abf3!2sPanam%C3%A1%20Viejo!5e1!3m2!1sen!2spa!4v1629589842048!5m2!1sen!2spa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </section>
    
    
    
    </body>
</html>